import React from 'react'
import PropTypes from 'prop-types'
import { Box } from '@chakra-ui/core'

export function {{pascalCase name}}({ children }) {
  return (
    <Box>
      {children}
    </Box>
  )
}

{{pascalCase name}}.propTypes = {
  children: PropTypes.node
}

{{pascalCase name}}.defaultProps = {
  children: null
}
