import React from 'react'
import { shallow } from 'enzyme'
import { act } from 'react-test-renderer'
import { {{pascalCase name}} } from '../{{pascalCase name}}'

describe('<{{pascalCase name}} />', () => {
  it('should render', () => {
    const wrapper = shallow(
      <{{pascalCase name}} />
    )

    expect(wrapper).toMatchSnapshot()
  })
})
