import React from 'react'
import { create } from 'react-test-renderer'
import { {{pascalCase name}}Icon } from '../{{pascalCase name}}Icon'

describe('<{{pascalCase name}}Icon />', () => {
  it('should render', () => {
    const wrapper = create(
      <{{pascalCase name}}Icon />
    )

    expect(wrapper.toJSON()).toMatchSnapshot()
  })
})
