{
  "name": "@musly/{{dashCase name}}",
  "version": "0.0.1",
  "description": "{{description}}",
  "private": true,
  "dependencies": {
    "@chakra-ui/core": "^0.8.0",
    "@emotion/core": "^10.0.28",
    "@emotion/styled": "^10.0.27",
    "@musly/common": "^0.0.1",
    "classnames": "^2.2.6",
    "emotion-theming": "^10.0.27",
    "prop-types": "^15.7.2",
    "react": "^16.13.1",
    "react-dom": "^16.13.1",
    "react-helmet-async": "^1.0.6",
    "react-hot-loader": "^4.12.21",
    "react-icons": "^3.10.0",
    "rooter": "^1.0.0-beta.18"
  }
}
