import React, { PureComponent } from 'react'
import PropTypes from 'prop-types'
import { {{pascalCase name}}Context } from '../contexts'

export class {{pascalCase name}}Provider extends PureComponent {
  get {{lowerCase name}}Context() {
    return {

    }
  }

  render() {
    <{{pascalCase name}}Context.Provider>
      {this.props.children}
    </{{pascalCase name}}Context.Provider>
  }
}
