import React from 'react'
import { View } from '../../components'

function {{pascalCase name}}() {
  return (
    <View>
      {{pascalCase name}}
    </View>
  )
}

export default {{pascalCase name}}
